$max: 100%;
$nav: 50px;
$rel: relative;
$bloc: block;
$il-bloc: inline-block;
$fx: fixed;
$abso: absolute;
$helvet: "Helvetica Neue",Helvetica,Arial,sans-serif;
$arvo: 'Arvo', courier, serif;
$right: right;
$left: left;
$black: black;
$mid: middle;
$center: center;
$null: 0;
$none: none;
$upp: uppercase;
$saumon: #e74c3c;
$under: underline;
